.backBtn{
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: #464eb8 !important; 
    min-width: 2.5rem !important;
    margin-top: 1.2rem;
    max-width: 2.5rem !important;
}
.backBtn:hover{
    background-color: #464eb8 !important;
    color: #fff !important;
    transition: 0.3s;
}
h2{
    color : #000;
}
.gNgFhZ{
    background-color : #464eb8 !important;
}
.fYWpAu{
    background-color : #464eb8 !important;
}
.wvideo video{
    width: 100% ;
}
.progressBar-102{
    background-color: rgb(73 73 191) !important;
}
.courseContentDiv ul li{
    margin-bottom : 1rem;
    font-weight: 700;
}