.container {
    padding: 2%;
}

.table {
    padding-left: 5%;
    padding-right: 5%;
}

.ui-table__cell {
    justify-content: center;
}

.createCheckListBtn {
    background-color: transparent !important;
    color: #464eb8 !important;
}

.createCheckListBtn:hover {
    background-color: #464eb8 !important;
    color: #fff !important;
    transition: 0.3s;
}

.reportsBtn {
    background-color: transparent !important;
    color: #464eb8 !important;
}

.reportsBtn:hover {
    background-color: #464eb8 !important;
    color: #fff !important;
    transition: 0.3s;
}
.ms-Viewport{
     padding-left: 0;
     padding-right: 0;
}